.image {
    margin-left: 400px;
}

.sidebar {
    margin-top: 20px;
    background-color: #00b0ff;
    /* position: fixed; */
    width: 15em;
    height: 490px;
    text-align: center;
}

.sidebar a {
    padding-top: 4px;
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.sidebar a:hover {
    color: red;
}

.mainbar {
    height: 100%;
}

.button {
    margin-left: 20px;
}

.left {
    height: 100%;
    margin-top: 20px;
}