.form-control {
    width: 380px;
}

.details {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1.4);
    background: #fff;
    margin-top: 30px;
    margin-left: 270px;
}

#details {
    padding: 20px;
    position: absolute;
    width: 30em;
    height: auto;
}

.top-left {
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #40C4FF;
    padding: 4px;
    width: 11em;
    color: black;
}